<div class="row">
    <div class="col-12"> <h2>Proyectos</h2></div>
</div>

<div class="row">
    <div class="col-12"> <h4>Proyecto1</h4></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum maxime quo cumque quidem obcaecati optio ab, modi iusto tempora quasi velit officia necessitatibus vero repellat excepturi pariatur libero nihil animi!</p>
</div>

<div class="row">
    <div class="col-12"> <h4>Proyecto</h4></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum maxime quo cumque quidem obcaecati optio ab, modi iusto tempora quasi velit officia necessitatibus vero repellat excepturi pariatur libero nihil animi!</p>
</div>

