<div class="container-fluid">

    <app-navegador></app-navegador>

    <main>

        <app-portada></app-portada>
        
        <br><br><br><br>

        <app-datos-personales></app-datos-personales>

        <app-experiencia-laboral></app-experiencia-laboral>
        
        <br>
   
        <app-estudios-cursados></app-estudios-cursados>

        <br>
   
        <article>
           <app-habilidades></app-habilidades> 
  
            <br><br>

           <app-proyectos></app-proyectos>
           
        </article>

    </main>  
</div>