<nav id="navegador" class="bg-primary">
    <div class="row align-items-center">
            <div class="col-2"> <img src="/assets/Imagenes/APLogo-20-20.jpg" id="logo1"  alt="argpprod"></div>
            <div class="col-7"><p  class="display-6" class="c">{{tituloPagina}}</p></div>
            <div class="col-1"> <a class="enlace1" href="https://www.facebook.com/carina.strada.1"  target="_blank">facebook</a></div>
            <div class="col-1"> <a class="enlace1" href="https://www.facebook.com/carina.strada.1"  target="_blank">Instagram</a></div>
            <!-- <div class="col-1"><button type="button" class="btn btn-warning" onclick="alert('ingresar datos')">LOGIN</button></div> -->
            <div class="col-1"><app-boton-nav></app-boton-nav></div>
        </div>
</nav>